[submodule ".emacs.d/elisp/replace-colorthemes"]
	path = .emacs.d/elisp/replace-colorthemes
	url = https://github.com/emacs-jp/replace-colorthemes.git
[submodule ".emacs.d/site-lisp/jumar"]
	path = .emacs.d/site-lisp/jumar
	url = https://github.com/kenoss/jumar
