[core]
	editor = emacs
	excludesfile = ~/.gitignore
	quotepath = false
	precomposeunicode = true
[user]
	name = mgi166
	email = skskoari@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lp = log -p -4
[include]
    path = .gitconfig.local
[merge]
	ff = false
