[core]
	editor = /Applications/Emacs.app/Contents/MacOS/bin/emacsclient -nw
	excludesfile = ~/.gitignore
	quotepath = false
	precomposeunicode = true
[user]
	name = mgi166
	email = skskoari@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	sh = show
	sb = show-branch -a
	rw = browse
[include]
	path = .gitconfig.local
[merge]
	ff = false
[branch]
	autosetuprebase = always
[pull]
	rebase = true
