[core]
	editor = emacsclient -nw -q
	excludesfile = ~/.gitignore
	quotepath = false
	precomposeunicode = true
[user]
	name = mgi166
	email = skskoari@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	sh = show
	sb = show-branch -a
	rw = browse
	pr = pull-request
	see = browse
	sepr = !hub browse -- pull/$(git symbolic-ref --short HEAD)

[include]
	path = .gitconfig.local
[merge]
	ff = false
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/

# [commit]
# 	template = ~/.gitmessage.txt

[ghq]
	root = ~/src
